<html>
  <head>
    {% if title %}
    <title>{{ title }} - aix3adb</title>
    {% else %}
    <title>aix3adb</title>
    {% endif %}
  </head>
  <body>
    <div>aix3adb: <a href="/index">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
