{% extends "base.html" %}
{% block content %}
    {% for sample in samples %}
        <div><p><b>{{ sample.name }} </b> ID: {{ sample.id }}, Updater: {{ sample.updater }}</p></div>
    {% endfor %}
{% endblock %}
